*.dart linguist-detectable=true
*.cpp linguist-detectable=false
*.h linguist-detectable=false
*.mm linguist-detectable=false
*.cc linguist-detectable=false
*.m linguist-detectable=false
CMakeLists.txt linguist-detectable=false
*.cmake linguist-detectable=false

# Ignorer les dossiers non Dart
android/** linguist-vendored
ios/** linguist-vendored
linux/** linguist-vendored
macos/** linguist-vendored
windows/** linguist-vendored